@tailwind base;
@tailwind components;
@tailwind utilities;

.main_header {
  margin: 0;
  background-color: #3eb489;
  height: 10vh;
}

.main_section {
  margin: 0;
  background-color: white;
  height: 90vh;
}

.home_section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}